@import "abstract/reset";
@import "abstract/mixins";

html{
    overflow-x: hidden;
}
body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #10111e;
    overflow-x: hidden;
}
.titles {
    display: flex;
    justify-content: center;
    h2 {
        padding: 1vh 2vw;
        margin: 0 1vw;
        cursor: pointer;
        transition: 0.3s;
        font-size: 3vh;
        &:hover {
            transform: scaleX(1.05);
            background-color: rgba(108, 95, 159, 0.496);
        }
    }
}
.content_all {
    display: flex;  
    width: 200vw;
}
.foot,
.bskt {
    display: flex;
    margin: 2% 5%;
    transition: transform 1s;
    width: 80vw;
}

.hidden {
    transform: translateX(-200vw);
    transition: transform 1s;
}
.hidden_bskt {
    transform: translateX(100vw);
    transition: transform 1s;
}

.here {
    transform: translateX(-100vw);
    transition: transform 1s;
}

#go_back_t,
#go_back_b, #go_back_b_2 {
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
    cursor: pointer;
}

.infos_parent{
    display: flex;
    flex-direction: column;
}
.infos {
    display: flex;
    font-size: 2.5vh;

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5vw;
        line-height: 150%;
    }
    .others_infos {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10vh;
        line-height: 150%;
    }
    img {
        height: 35vh;
    }
}

.matchs{
    h1{
        font-size: 3vh;
        padding: 5vh;
    }
    
        
}

#scheduled_match{
    font-size: 4vh;
}
.all_matchs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        width: 25vw;
        padding: 5vh 10vh;
        box-shadow: rgba(74, 69, 94, 0.2) 0px 8px 24px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        @include mobile{
            height: 30vh;
        }


        p{
            margin: 1vh;
        }
        .matchday{
            position: absolute;
            top: 3vh;
            left: 3vh;
        }
        .date_f{
            position: absolute;
            top: 3vh;
            right: 3vh;
        }
    }
}
#last_scores{
    h1{
        font-size: 3vh;
        padding: 5vh;
    }
}
.players{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;

    h1{
        font-size: 3vh;
        padding: 5vh;
    }
}
.each_players_b{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    div{
        margin: 1vw 2vw;
        display: flex;
        flex-direction: column;

        p{
            padding: 2vh;
        }
    }
}

.selected {
    background-color: rgb(42, 35, 71);
    &:hover {
        transform: none !important;
        background-color: rgb(42, 35, 71) !important;
    }
}
.title_top {
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        font-size: 8vh;
        padding: 2vh;
    }
    h3 {
        text-align: center;
    }
}

article {
    display: flex;
    flex-direction: column;
}
.foot_content,
.bskt_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div {
    margin: 0.5vw 0.5vw;
    cursor: pointer;
    box-shadow: rgba(74, 69, 94, 0.2) 0px 8px 24px;
    padding: 2%;
    width: 30vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5vh;
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
        background-color: rgb(42, 35, 71);
    }

    > img {
        max-width: 100%;
        height: 80%;
    }
    .name {
        text-align: center;
    }
}
.players_infos{
    display: flex;
    flex-direction: column;
}

#player_name{
    font-size: 5vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.players_desc, .players_news{
    width: 50%;

}

.info_players_b{
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        transform: scale(1.2);
    }
}

.player_left{
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;

    p{
        padding: 1vh;
    }

    img{
        height: 20vh;
        margin-bottom: 2vh;
    }
}

.player_right{
    display: flex;
    flex-direction: column;
    font-size: 2vh;

    p{
        padding: 1vh;
        line-height: 150%;
    }
    h2{
        font-size: 4vh;
        margin-bottom: 3vh;
    }
}

.flex{
    display: flex;
}